.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.banner{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.exhibit {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.exhibit img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

ul.list-content {
  list-style-type: none;
  margin: 0;
  padding: 50px;
  text-align: left;
}

ul.list-content li {
  margin-bottom: 10px;
  padding-left: 1em;
  text-indent: -1em;
}

ul.list-content li:before {
  content: "•";
  display: inline-block;
  margin-right: -1em;
  width: 1em;
}

/* .exhibit-panel {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tab-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.tab-menu li {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-radius: 5px 5px 0 0;
}

.tab-menu li.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
} */

.exhibit-panel {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.exhibit-panel-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;
}

.exhibit-panel-tabs li {
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}

.exhibit-panel-tabs li.active {
  background-color: #fff;
  border-bottom: none;
}

.exhibit-panel-content {
  display: none;
}

.exhibit-panel-content.active {
  display: block;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
