.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.banner{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.exhibit {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.exhibit img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

ul.list-content {
  list-style-type: none;
  margin: 0;
  padding: 50px;
  text-align: left;
}

ul.list-content li {
  margin-bottom: 10px;
  padding-left: 1em;
  text-indent: -1em;
}

ul.list-content li:before {
  content: "•";
  display: inline-block;
  margin-right: -1em;
  width: 1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
